
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_MenuUtama.cshtml";
}

<link href="~/css/HomePage.css" rel="stylesheet" />
<div class="container">
    <div class="home-header"> <h1>Fitur yang sudah di kerjakan</h1></div>
   
    <div class="warp-totalfitur">
        <ul>
            <li>API untuk login</li>
            <li>Api untuk show data</li>
            <li>Semua tampilan MVC sudah di kerjakan </li>
            <li>Operator risk Statis (EMPLOYEE => Risk op statis) </li>
            <li>Operator risk Dinamis (EMPLOYE => Employe List Info => Risk OP) </li>
        </ul>
        <br />
        <h5>Repo Clone : https://github.com/blackwolfinc/Kalbefarma.netcore</h5>
        <h5>Linkedin : https://www.linkedin.com/in/bagas-aji-nugroho-b309001b4/</h5>
        <br /><br />
        <h5>Note : saya belum pernah sama sekali memakai .netcore sebelumnya dalam 5 hari ini saya belajar dari 0 hingga terciptalah project ini </h5>
        <br />
        <br />
        <br />
        <h5> Terimakasih atas tantanganya jika di beri ksempatan lebih pasti saya akan semaksimal mungkin</h5>
    </div>
</div>   


