
@{
    ViewData["Title"] = "opRiskStat";
    Layout = "~/Views/Shared/_MenuUtama.cshtml";
}


@model kalbe_farma_tampilan.ViewsModels.DocumentViewModels


<link rel="stylesheet" href="~/css/opRiskstat.css">
<div class="paling-atas"><h1>Operational Risk Static Form</h1></div>

<div class="card">


    <div class="btn-wraper-oprisk">
        <a class="btn btn-danger btn-round" asp-area="" asp-controller="Home" asp-action="HomePage">Back</a>
        <button class="btn btn-warning btn-round">Export</button>
    </div>



</div>


<div class="card ">
    <div class="card-header ">
        <h2>Operational Risk Register Document</h2>
    </div>
    <div class="card-body">
        <div class="">
            <div class="btn-wraper-oprisk-form">
                <div class="card">
                    <div class="card-header-risk">
                        <div class="card-kiri-header">
                            <h5>RR Doc. No .</h5>
                            <h3>M1.RR.-AHD.2021.000</h3>
                        </div>
                        <div class="card-kanan-header">
                            <h5>RR Doc. No .</h5>
                            <h3>Business Development</h3>
                        </div>
                    </div>
                    <div class="card-body-risk">
                        <div class="card-risk-satu npm col col-md-3">
                            <h5>Core Process</h5>
                            <p>tes tadfjsndf skdjfn ksjbdnfkljsbhd fjhbsdfkjdsklfjbklsdfkdshfhso dnfkjsndfkijsdkfj lsdfkljsdfl sdokfjklsdjflsdjfl</p>
                        </div>
                        <div class="card-risk-dua npm col col-md-3">
                            <h5>Process</h5>
                            <p>tes tadfjsndf skdjfn ksjbdnfkljsbhd fjhbsdfkjdsklfjbklsdfkdshfhso dnfkjsndfkijsdkfj lsdfkljsdfl sdokfjklsdjflsdjfl</p>
                        </div>
                        <div class="card-risk-tiga npm col col-md-3">
                            <h5>LOB</h5>
                            <p>tes tadfjsndf skdjfn ksjbdnfkljsbhd fjhbsdfkjdsklfjbklsdfkdshfhso dnfkjsndfkijsdkfj lsdfkljsdfl sdokfjklsdjflsdjfl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card-header" id="headingOne">
    <h3>List Process</h3>
    <h3 class="mb-0">
        <button class="btn btn-outline-white">
            <span class="far fa-arrow-alt-circle-down"></span>
        </button>
    </h3>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

    <div class="col-12 col-md-12 col-lg-12 list-proses-back">
        <div class="card">
            <div id="carouselExampleIndicators3" class="carousel slide  list-proses-back" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card Card-list-Prosess">
                            <div class="col npm1 card-list-body-satu">
                                <div class="npm card-list-head">
                                    <h1>1</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-dua">
                                <div class="npm card-list-head">
                                    <h1>2</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-tiga">
                                <div class="npm card-list-head">
                                    <h1>3</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-empat">
                                <div class="npm card-list-head">
                                    <h1>4</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            @*crousel start*@


                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card Card-list-Prosess">
                            <div class="col npm1 card-list-body-satu">
                                <div class="npm card-list-head">
                                    <h1>5</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-dua">
                                <div class="npm card-list-head">
                                    <h1>6</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-tiga">
                                <div class="npm card-list-head">
                                    <h1>7</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-empat">
                                <div class="npm card-list-head">
                                    <h1>8</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            @*crousel start*@


                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card Card-list-Prosess">
                            <div class="col npm1 card-list-body-satu">
                                <div class="npm card-list-head">
                                    <h1>9</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-dua">
                                <div class="npm card-list-head">
                                    <h1>10</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-tiga">
                                <div class="npm card-list-head">
                                    <h1>11</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            <div class="col npm1 card-list-body-empat">
                                <div class="npm card-list-head">
                                    <h1>12</h1>
                                </div>
                                <h5>Porcess</h5>
                                <div class="card-list-body-dalam">

                                    <br />
                                    <h4>Exporing</h4>
                                    <h4 style="        border-bottom: 3px solid #24644B; padding-bottom:20px;">Ideas</h4>

                                    <br />
                                    <h5>Objective</h5>
                                    <br />
                                    <p>Menemukan Produk/Bisnis Baru yang mempunyai nilai pasar yang tinggi</p>
                                    <br />
                                    <br />
                                    <h5>Entitiy Reference</h5>
                                    <p>N/A</p>
                                    <br />
                                    <h5>Document Refernece</h5>
                                    <p>N/A</p>
                                    <br />
                                    <br />
                                </div>


                            </div>
                            @*crousel start*@


                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="card-header" id="headingOne">
    <h3>Detail Risk Register Documents</h3>
    <h3 class="mb-0">
 
        <a class="btn btn btn-outline-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span class="far fa-arrow-alt-circle-down"></span>
        </a>
    </h3>
</div>
    <div class="card-body">
        <div class="collapse" id="collapseExample">
            <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </p>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />


<script rel="stylesheet" href="~/js/opRisk.js">

    $('#myTable').DataTable({
        ajax: '/api/staff',
        dom: 'Bfrtip',
        columns: [
            { data: 'first_name' },
            { data: 'last_name' },
            // etc
        ],
        select: true,
        buttons: [
            { extend: 'create', editor: editor },
            { extend: 'edit', editor: editor },
            { extend: 'remove', editor: editor }
        ]
    });
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
