.btn-wraper-oprisk {
    display:flex;
    justify-content:space-between;
    padding:20px 0px;  

}


.btn-wraper-oprisk-form {
    margin-top:20px;
    display:flex;
    justify-content:center;
    text-align:left;
}

.form-control.form-risk {
border-top:none;
border-left:none;
border-right:none;
margin-bottom:20px;

}

    .form-control.form-risk:hover {
        border: 1px solid #184332 !important;
    }